<!-- quiz.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solve Quiz to Get Recommendation</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h2>Quiz</h2>
        <form id="quiz-form">
            <div class="question">
                <span><h3>Question 1: How do you handle stress?</h3></span>
                    <input type="radio" id="q1a" name="q1" value="5">
                    <label for="q1a">Calm and collected</label><br>
                    <input type="radio" id="q1b" name="q1" value="2">
                    <label for="q1b">Stressed and anxious</label><br>
                    <input type="radio" id="q1c" name="q1" value="3">
                    <label for="q1c">Indifferent</label><br>
                    <input type="radio" id="q1d" name="q1" value="4">
                    <label for="q1d">Proactive</label>

            </div>
            <div class="question">
                <span><h3> 2: How do you approach new challenges?</h3></span>
                    <input type="radio" id="q2a" name="q2" value="5">
                    <label for="q2a">Excited and curious</label><br>
                    <input type="radio" id="q2b" name="q2" value="2">
                    <label for="q2b">Cautious and hesitant</label><br>
                    <input type="radio" id="q2c" name="q2" value="4">
                    <label for="q2c">Eager and determined</label><br>
                    <input type="radio" id="q2d" name="q2" value="3">
                    <label for="q2d">Adaptive and flexible</label>

            </div>
            <div class="question">
                 <span class="ques"><h3>Question 3: How do you handle social situations?</h3></span>
                    <input type="radio" id="q3a" name="q3" value="5">
                    <label for="q3a">Outgoing and sociable</label><br>
                    <input type="radio" id="q3b" name="q3" value="2">
                    <label for="q3b">Introverted and reserved</label><br>
                    <input type="radio" id="q3c" name="q3" value="2">
                    <label for="q3c">Friendly and approachable</label><br>
                    <input type="radio" id="q3d" name="q3" value="4">
                    <label for="q3d">Observant and analytical</label>
            </div>
            <div class="question">
                 <span><h3>Question 4: How do you react to unexpected changes?</h3></span>
                    <input type="radio" id="q4a" name="q4" value="5">
                    <label for="q4a">Adaptable and open-minded</label><br>
                    <input type="radio" id="q4b" name="q4" value="2">
                    <label for="q4b">Resistant and uncomfortable</label><br>
                    <input type="radio" id="q4c" name="q4" value="2">
                    <label for="q4c">Intrigued and curious</label><br>
                    <input type="radio" id="q4d" name="q4" value="3">
                    <label for="q4d">Proactive and problem-solving</label>

            </div>
            <div class="question">
                <span><h3>Question 5: How do you handle criticism?</h3></span>
                    <input type="radio" id="q5a" name="q5" value="5">
                    <label for="q5a">Open to feedback and willing to improve</label><br>
                    <input type="radio" id="q5b" name="q5" value="2">
                    <label for="q5b">Defensive and sensitive</label><br>
                    <input type="radio" id="q5c" name="q5" value="3">
                    <label for="q5c">Analytical and considering the source</label><br>
                    <input type="radio" id="q5d" name="q5" value="4">
                    <label for="q5d">Take it positively and make necessary changes</label>

            </div>
            <div class="question">
                <span><h3>Question 6: How do you prefer to work in a team?</h3></span>
                    <input type="radio" id="q6a" name="q6" value="4">
                    <label for="q6a">Leading and coordinating</label><br>
                    <input type="radio" id="q6b" name="q6" value="5">
                    <label for="q6b">Contributing and collaborating</label><br>
                    <input type="radio" id="q6c" name="q6" value="5">
                    <label for="q6c">Observing and analyzing</label><br>
                    <input type="radio" id="q6d" name="q6" value="5">
                    <label for="q6d">Independent and self-reliant</label>

            </div>
            <div class="question">
                 <span><h3>Question 7: How do you approach your goals?</h3></span>
                    <input type="radio" id="q7a" name="q7" value="5">
                    <label for="q7a">Set clear and structured plans</label><br>
                    <input type="radio" id="q7b" name="q7" value="5">
                    <label for="q7b">Adaptable and take opportunities as they come</label><br>
                    <input type="radio" id="q7c" name="q7" value="3">
                    <label for="q7c">Consistently work towards them</label><br>
                    <input type="radio" id="q7d" name="q7" value="2">
                    <label for="q7d">Anxious and unsure about your goals</label>

            </div>
            <div class="question">
                <span><h3>Question 8: How do you react to failure?</h3></span>
                    <input type="radio" id="q8a" name="q8" value="4">
                    <label for="q8a">Learn from it and try again</label><br>
                    <input type="radio" id="q8b" name="q8" value="2">
                    <label for="q8b">Feel discouraged and give up</label><br>
                    <input type="radio" id="q8c" name="q8" value="3">
                    <label for="q8c">Analyze what went wrong and make improvements</label><br>
                    <input type="radio" id="q8d" name="q8" value="5">
                    <label for="q8d">It's just a part of the process</label>

            </div>
            <div class="question">
                 <span><h3>Question 9: How do you deal with uncertainty?</h3></span>
                    <input type="radio" id="q9a" name="q9" value="4">
                    <label for="q9a">Plan for different scenarios and stay prepared</label><br>
                    <input type="radio" id="q9b" name="q9" value="2">
                    <label for="q9b">Get anxious and worry about the unknown</label><br>
                    <input type="radio" id="q9c" name="q9" value="5">
                    <label for="q9c">Embrace it and see it as an opportunity</label><br>
                    <input type="radio" id="q9d" name="q9" value="3">
                    <label for="q9d">Analyze the situation and make informed decisions</label>

            </div>
            <div class="question">
               <span><h3>Question 10: How do you approach your personal relationships?</h3></span>
                    <input type="radio" id="q10a" name="q10" value="4">
                    <label for="q10a">Invest time and effort in maintaining close connections</label><br>
                    <input type="radio" id="q10b" name="q10" value="2">
                    <label for="q10b">Prefer to keep your circle small and intimate</label><br>
                    <input type="radio" id="q10c" name="q10" value="5">
                    <label for="q10c">Enjoy meeting new people and making friends easily</label><br>
                    <input type="radio" id="q10d" name="q10" value="3">
                    <label for="q10d">Value quality over quantity in your relationships</label>

            </div>

            <!-- Repeat similar structure for remaining questions -->
            <!-- Questions 2 to 10 -->
            <br>
            <input type="submit" value="Submit">
        </form>
        <div id="result"></div>
        <div id="fetched_books"></div>
    </div>

    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
</body>
</html>
